@font-face {
  font-family: "iconfont"; /* Project id 4312824 */
  src: url('iconfont.woff2?t=1698895928764') format('woff2'),
       url('iconfont.woff?t=1698895928764') format('woff'),
       url('iconfont.ttf?t=1698895928764') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-money-currency-converter-fill:before {
  content: "\e830";
}

.icon-order-fill:before {
  content: "\e833";
}

.icon-product-filter:before {
  content: "\e834";
}

.icon-yewu_xiansuo:before {
  content: "\e696";
}

.icon-a-021_wode-22:before {
  content: "\e674";
}

.icon-a-021_zhuye:before {
  content: "\e675";
}

.icon-gengduo:before {
  content: "\1017a";
}

.icon-erweima:before {
  content: "\1017b";
}

.icon-guanbi:before {
  content: "\1017c";
}

.icon-shezhi:before {
  content: "\1017d";
}

.icon-shouye:before {
  content: "\1017e";
}

.icon-ziliao:before {
  content: "\1017f";
}

.icon-shoucang:before {
  content: "\10180";
}

.icon-xiaoxi:before {
  content: "\10181";
}

.icon-zan:before {
  content: "\10182";
}

.icon-pinglun:before {
  content: "\10183";
}

.icon-bangzhu:before {
  content: "\10184";
}

.icon-tishi:before {
  content: "\10185";
}

.icon-RectangleCopy:before {
  content: "\e6a3";
}

.icon-RectangleCopy1:before {
  content: "\e6a8";
}

.icon-jichu_bianji:before {
  content: "\e648";
}

.icon-jichu_fenlei:before {
  content: "\e64f";
}

.icon-jichu_wenjian:before {
  content: "\e653";
}

.icon-jichu_tuichuquanping:before {
  content: "\e657";
}

.icon-jichu_lianjie:before {
  content: "\e658";
}

.icon-jichu_weixiao:before {
  content: "\e659";
}

.icon-yonghu_jibenxinxi:before {
  content: "\e677";
}

.icon-yewu_dasuan:before {
  content: "\e680";
}

.icon-yewu_maizi:before {
  content: "\e681";
}

.icon-yewu_yazi:before {
  content: "\e682";
}

.icon-yewu_yugu:before {
  content: "\e683";
}

.icon-yewu_siliaodai:before {
  content: "\e684";
}

.icon-yewu_zhu:before {
  content: "\e685";
}

.icon-yewu_zhu2:before {
  content: "\e686";
}

.icon-yewu_yuanliao:before {
  content: "\e687";
}

.icon-yewu_zhu3:before {
  content: "\e688";
}

.icon-yewu_canyin:before {
  content: "\e689";
}

.icon-yewu_sitao:before {
  content: "\e68a";
}

.icon-cart-add:before {
  content: "\e824";
}

.icon-cart-empty-fill:before {
  content: "\e826";
}

.icon-charts-pie:before {
  content: "\e827";
}

.icon-charts-bar:before {
  content: "\e828";
}

.icon-customer-add-fill:before {
  content: "\e829";
}

.icon-customer-fill:before {
  content: "\e82a";
}

.icon-customer-group-fill:before {
  content: "\e82b";
}

.icon-customer-group:before {
  content: "\e82c";
}

